<!DOCTYPE html>
<html ng-app="MFCCountdown">
<head>
    <title>MFC Countdown</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <style type="text/css">
        .css-form input.ng-invalid.ng-dirty {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
        th
        {
            font-size:larger;
            text-align:center !important;
            background-color: #eaeaea;
            background-image: -moz-linear-gradient(#fafafa, #eaeaea);
            background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
            background-image: linear-gradient(#fafafa, #eaeaea);
        }
    </style>
    <script src="js/shims.js"></script>
    <script src="js/lib/jquery-1.9.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/ui-bootstrap-custom-tpls-0.3.0-SNAPSHOT.min.js"></script>
    <script src="js/lib/keypress.js"></script>
    <script src="js/lib/fastclick.js"></script>
</head>
<body ng-controller="CountdownCtrl">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="brand">MFC Countdown <span ng-show="model != undefined">:: {{model.name}}</span></div>
            <button class="btn" ng-click="showCountdownModal = true" ng-show="model != undefined && !countdownActive">Set Countdown</button>
            <button class="btn" ng-click="showTipsModal = true" ng-show="tips.length > 0">Tips</button>
            <button class="btn" ng-click="showSelectModel = true" >{{(model == undefined) && 'Select' || 'Change'}} Model</button>
            <div class="pull-right">
                <button class="btn" ng-click="showAboutModal = true">About</button>
            </div>
       </div>
    </div>

    <div class="container-fluid">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="row-fluid">
            <div class="span12">
                <div ng-show="countDownDisplayText" class="hero-unit" style="font-size:100px; font-weight: bold; text-align: center">{{countDownDisplayText}}</div>
            </div>
        </div>
    </div>

    <!-- Select Model Modal -->
    <div modal="showSelectModel" close="showSelectModel = false" options="opts" ng-cloak>
        <div class="modal-header">
            <h4>Enter Model name</h4>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="modelName" autofocus ui-keypress="{13:'selectModel()'}" select-on-focus/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="selectModel()">Select</button>
        </div>
    </div>
    <!-- End Select Model Modal -->

    <!-- Enter Countdown Amount Modal -->
    <form name="formCountdown" novalidate class="css-form">
        <div modal="showCountdownModal" close="showCountdownModal = false" options="opts" ng-cloak>
                <div class="modal-header">
                    <h4>Enter Countdown Amount</h4>
                </div>
                <div class="modal-body">
                    <input type="number" min="1" required ng-model="countDownAmount" name="countDownAmount" autofocus ui-keypress="{13:'setCountdown()'}" select-on-focus/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary cancel" ng-disabled="formCountdown.$invalid" ng-click="setCountdown()">Set</button>
                </div>

        </div>
    </form>
    <!-- End Enter Countdown Amount Modal -->

    <!--Show Tips Modal -->
    <div modal="showTipsModal" close="showTipsModal = false" options="opts" ng-cloak>
        <div class="modal-header">
            <div class="form-inline">
                Filter by Name: <input type="text" ng-model="search.Name" class="input-medium"/>
                By Amount: <input type="text" ng-model="search.Amount" class="input-medium"/>
            </div>
        </div>
        <div class="modal-body">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th></th>
                    <th style="text-align:center">From</th>
                    <th style="text-align:center">Amount</th>
                    <th style="text-align:center">Countdown After Tip</th>
                </tr>
                <tr ng-repeat="tip in tips | filter: search">
                    <td style="text-align:center"><button class="btn btn-mini btn-danger" ng-click="removeTip(tip)"><icon class="icon icon-white icon-remove"></icon></button></td>
                    <td>{{tip.Name}}</td>
                    <td style="text-align:center">{{tip.Amount}}</td>
                    <td style="text-align:center">{{runningTotal($index)}}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="showTipsModal = false">OK</button>
        </div>
    </div>
    <!-- End Show Tips Modal -->

    <!-- About Modal -->
    <div modal="showAboutModal" close="showAboutModal = false" options="opts" ng-cloak>
        <div class="modal-header">
            <h4>About MFC Countdown</h4>
        </div>
        <div class="modal-body">
            MFC Countdown assists with tracking countdowns in public rooms on myfreecams.com.
            It works by logging into the selected model's public room as a guest and making
            note of tips during the countdown.  Because it is logging in as a guest, <em>MFC Countdown
            can only track public tips.</em>  Anonymous tips will be included (if they are also public),
            but any tip not displayed in the public room of the model will not be counted.
            <br/><br/>
            Operation should be pretty simple.
            <br/>
            <ul>
                <li>Select a model by entering her name after clicking <span class="label">Select/Change Model</span></li>
                <li>Begin a countdown by entering an amount after clicking <span class="label">Set Countdown</span></li>
                <li>You can remove tips from the total by clicking the <span class="label">Tips</span> button (once there are tips)</li>
                <li>You can set the countdown amount at any time simply by clicking <span class="label">Set Countdown</span> again.</li>
            </ul>
            MFC Countdown will display the amount remaining in the countdown until it is finished,
            at which point, it will display that the countdown is complete.
            <br/><br/>
            <strong>Planned enhancements:</strong>
            <br/>
            <ul>
                <li>Firefox support.</li>
            </ul>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary cancel" ng-click="showAboutModal = false">Ok</button>
        </div>
    </div>
    <!-- End About Modal -->

    <script src="js/MFCCountdown.js"></script>
    <script src="js/MFCEnum.js"></script>
    <script src="js/MFCMessage.js"></script>
    <script src="js/MFCSocket.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services/Model.js"></script>
    <script src="js/services/Countdown.js"></script>
    <script src="js/controllers/CountdownController.js"></script>
</body>
</html>